# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/contentModel.xml
/.idea.WebAppTest.iml
/modules.xml
/projectSettingsUpdater.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .NET Core
/bin/
/obj/
/.vs/
/*.csproj.user
/*.userprefs
/*.suo
/*.user
/*.cache
/*.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Docker
docker-compose.override.yml